language: objective-c
osx_image: xcode7.3

before_install:
  - gem install slather

script: 
#  - xctool test -workspace Fiery.xcworkspace -scheme FieryTest -sdk iphonesimulator ONLY_ACTIVE_ARCH=NO GCC_INSTRUMENT_PROGRAM_FLOW_ARCS=YES GCC_GENERATE_TEST_COVERAGE_FILES=YES
  - set -o pipefail && xcodebuild test -workspace Fiery.xcworkspace -scheme FieryTest -sdk iphonesimulator GCC_INSTRUMENT_PROGRAM_FLOW_ARCS=YES GCC_GENERATE_TEST_COVERAGE_FILES=YES | xcpretty

after_success: slather

branches:
  only:
    - master
    - devel

notifications:
  email: false
