<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>984124263356-tjknlh4otb188loc3vejl9hchsv3t3s1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.984124263356-tjknlh4otb188loc3vejl9hchsv3t3s1</string>
	<key>API_KEY</key>
	<string>AIzaSyCIk4BlBBjmnoevySub__quylXk2q_xHCs</string>
	<key>GCM_SENDER_ID</key>
	<string>984124263356</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.ragnar.FieryChat</string>
	<key>PROJECT_ID</key>
	<string>fiery-development</string>
	<key>STORAGE_BUCKET</key>
	<string>fiery-development.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:984124263356:ios:3c95ee3f5dff9c36</string>
	<key>DATABASE_URL</key>
	<string>https://fiery-development.firebaseio.com</string>
</dict>
</plist>